*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
#nav-div{
  width: 100%;
  background-color: #FE5B18;




}
#n1{
  border: 2px solid white;
  border-radius: 10px;
  padding: 5px;
  background-color: transparent;
}


#main-div{
  width: 100%;
  height: 100vh;
  background-color: #FE5B18;
  display: flex;
  align-items: center;
  justify-content: space-around;


}
#logo{
  width: 40px;
  height: 40px;
}
#school{
  color: white;
  margin-top: 15px;
  font-family: "Pacifico", cursive;
}

#home{
  color: white;
  margin-left: 25px;
  margin-top: 10px;
  font-family: "Pacifico", cursive;


}
#contact{
  color: white;
  margin-left: 25px;
  margin-top: 10px;
  font-family: "Pacifico", cursive;


}
.half-section-1{
  width: 40%;
  height: 20%;
  display: inline-block;

}
.half-section-2{
  width: 30%;
  height: 90%;

}
.half-section-4{
  width: 10%;
  height: 90%;
  background-image: url("./assets/Fashion.png");
  background-repeat: no-repeat;


}
.half-section-3{
  width: 15%;
  height: 40%;
  background-color: coral;
  margin-top: 390px;
  border-top-left-radius: 40%;
  margin-left: 300px;
}

.text{
  font-family: "Lugrasimo", cursive;
  font-size:20px;
  letter-spacing: 10px;
  width:43%;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 2s steps(50),
  cursor .4s step-end infinite alternate;
  border-right: 3px solid;
  color: white;
  font-weight: bold;
  margin-left: 30px;

}
/* cursor blinking */
@keyframes cursor{
  50% { border-color: white;}
}
/* typing effect */
@keyframes typing{
  from {width: 0}
}
/* 2nd div */
#boy{
  height:100%;
  width: 100%;
  transition: 0.2 linear ;
  cursor: pointer;
  transform: rotate(0deg) translateY(-10px);

}
#girl{
  height:290px;
  width: 100%;

}
#boy:hover{
  box-shadow: none;
  animation: float infinite 1.5s linear;

}
@keyframes float{
  from{
    transform: rotate(0deg) translateY(-10px) rotate(0deg);
  }
  to{
    transform: rotate(360deg) translateY(-10px) rotate(-360deg);
  }
}
#join{
  margin-left: 120px;
  padding: 10px;
  opacity: 0.5;
  margin-top: 20px;
}